<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Gmail Automation Test Suite" verbose="2">

    <listeners>
        <listener class-name="com.openway.gmail.listeners.TestListener"/>
    </listeners>

    <test name="Gmail Login and Unread Email Test">
        <classes>
            <class name="com.openway.gmail.tests.GmailLoginTest"/>
        </classes>
    </test>

    <test name="Gmail Mail Deletion Tests">
        <classes>
            <class name="com.openway.gmail.tests.GmailDeleteTest"/>
        </classes>
    </test>

</suite>
